@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: "Roboto", sans-serif;
}


/*#display {
    position: absolute;
    z-index: 1;
}*/

/*Shoutout to @samarkandiy for the cool instruction on adding type animation with just css http://codepen.io/rusjames/pen/uAFhE*/
#greetings {
    text-align: left;
    color: #404040;
    font-family: "Roboto Mono", sans-serif;
    font-size: 20px;
    margin: 10px 0 0 25px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(100, end);
}
@keyframes type {
    from {
        width: 0;
    }
}

h1,
h2 {
    font-weight: bold;
    color: #404040;
}

h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

h1 {
    font-size: 75px;
}

h3 {
	font-size: 20px;
	word-wrap: break-word;
}

#intro,
#writings,
#projects,
#contact {
    text-align: center;
    background-color: #fff;
    padding: 50px;
}

#intro {
    height: 100%;
    background-image: url("../img/light-blue-background.jpg");
    background-size: cover;
}

.bio {
    position: relative;
    top: 30%;
}

#projects h2 {
    color: #E57373;
}

#writings h2 {
    color: #64B5F6;
}

#contact h2 {
    color: #81C784;
}

#writings,
#projects,
#contact {
    display: block;
    overflow: auto;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.navbar li {
    color: #000
}

#tag-projects {
    color: #E57373;
}

a {
	font-size: 15px !important;
}

a#tag-projects {
    font-weight: bold;
    border-bottom: 3px solid transparent;
}

a#tag-projects:hover {
    border-bottom: 3px solid #E57373;
}

#tag-writings {
    font-weight: bold;
    color: #64B5F6;
}

a#tag-writings:hover {
    border-bottom: 3px solid #64B5F6;
}

#tag-contacts {
    font-weight: bold;
    color: #81C784;
}

a#tag-contacts:hover {
    border-bottom: 3px solid #81C784;
}

.content {
    font-weight: normal;
    padding: 0 70px 30px 70px;
}

.content p {
    font-size: 20px;
    text-align: left;
    margin: 0 0 10px;
}

.content th,
td {
    padding: 15px 0 30px 0;
}

.content th {
    width: 30%;
}

.content th div {
    margin-bottom: 15px;
}

.content img {
    border-radius: 5px;
}

#break-projects {
    height: 5px;
    background-color: #E57373;
}

#break-writings {
    height: 5px;
    background-color: #64B5F6;
}

#break-contact {
    height: 5px;
    background-color: #81C784;
}

.contact-icon {
    padding: 15px;
    color: #81C784;
}

footer {
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
}