@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /*  overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll*/
  margin: 0;
  height: 100%;
  padding: 0;
}

html {
  /*background-color: rgba(236, 240, 241, 0.85);*/
/*  picture bg 
  background: url(pier.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

header {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  /*padding-bottom: 10em;*/
  /*padding-left: 5em;*/
  /*padding-top: 3.5em;*/
  position: relative
}


/*@media all and (max-width: 1200px) {
    .wrapper {
        padding-left: 160px;
        padding-bottom: 150px
    }
}

@media all and (max-width: 850px) {
    .wrapper {
        padding-left: 135px
    }
}

@media all and (max-width: 700px) {
    .wrapper {
        padding-top: 160px;
        padding-left: 100px;
        padding-bottom: 100px
    }
}

@media all and (max-width: 600px) {
    .wrapper {
        padding-top: 160px;
        padding-left: 80px
    }
}

@media all and (max-width: 500px) {
    .wrapper {
        padding-top: 36px;
        padding-left: 36px
    }
}*/

.text-container {
  max-width: 700px;
  /*background-color: rgba(236, 240, 241, 0.85);*/
  padding: 20px;
  /*border-radius: 25px;*/
}

@media all and (max-width: 1024px) {
  .text-container {
    max-width: 500px
  }
}

@media all and (max-width: 500px) {
  .text-container {
    padding-right: 50px
  }
}

#name {
  font-size: 4em;
  font-weight: 700;
  /*make span center*/
  display: table;
  margin: 0 auto;
}

@media all and (max-width: 320px) {
  #name {
    font-size: 3.5em;
  }
}

#bio {
  font-size: 1.2em;
}

@media all and (max-width: 320px) {
  #name {
    font-size: 3.5em;
  }
}

#resume a {
  text-decoration: none;
  color: #7f8c8d;
  /*make span center*/
  display: table;
  margin: 0 auto;
}

#contact {
  padding-top: 1.5em;
  /*make span center*/
  display: table;
  margin: 0 auto;
}

.contact-icon {
  color: #7f8c8d;
  padding-right: 1.5em;
}

a.contact-icon {
  /*padding: 10px;*/
  color: gray;
  text-shadow: none;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

a.contact-icon:hover,
a.contact-icon:focus {
  outline: none;
  text-decoration: none;
  color: black;
}

.col-3>a.contact-icon::before,
.col-3>a.contact-icon::after {
  font-size: 20px;
}

a.contact-icon::before,
a.contact-icon::after {
  font-size: 30px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

a.contact-icon::before {
  /*margin-right: 10px;*/
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

a.contact-icon::after {
  /*margin-left: 10px;*/
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

a.contact-icon:hover::before,
a.contact-icon:hover::after,
a.contact-icon:focus::before,
a.contact-icon:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  /*  height: 100%;
  margin: 0 auto;*/
  /*  height: 100%;
  width: 25%;
    background-color: #fff;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    text-align: right;
    top: 10px;
    /*width: 370px;*/
  /*z-index: -1;*/
}


/*@media (max-width:3440px) {
    #particles-js {
        width: 30%;
        height: 50%;
    }
}

@media all and (max-width:1368px) {
    #particles-js {
        width: 400px
    }
}*/