@font-face {
  font-family: Niveau-ExtraLight;
  src: url('../fonts/Niveau-XtraLig.otf');
}
@font-face {
  font-family: Niveau-Light;
  src: url('../fonts/Niveau-Lig.otf');
}
@font-face {
  font-family: Niveau-Bold;
  src: url('../fonts/Niveau-Bol.otf');
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  padding: 0;
  background: linear-gradient(to bottom right,#bbdef6,#fcf5ec);
  /* background: linear-gradient(to bottom,#beded7,#f2f3fb); */
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  padding: 15px;
  position: relative;
}

.container {
  max-width: 700px;
  font-family: Niveau-ExtraLight, sans-serif;    
  font-weight: 400;
}


#name {
  font-family: Niveau-Bold, sans-serif;
  font-weight: 800;
  font-size: 6em;
  /*make span center*/
  display: table;
  margin: 0 auto;
}
@media all and (max-width: 420px) {
  #name {
    font-size: 4.2em;
  }
}
@media all and (max-width: 375px) {
  #name {
    font-size: 3.1em;
  }
}

#bio {
  font-size: 1.3em;
}
@media all and (max-width: 420px) {
  #bio {
    font-size: 1.2em;
  }
}

#resume a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 1em;
  /*make span center*/
  display: table;
  margin: 0 auto;
}

#contact {
  padding-top: 0.8em;
  /*make span center*/
  display: table;
  margin: 0 auto;
}

.animated-link {
  color: #1d1d1d;
  padding-right: 1.5em;
}

a.animated-link {
  color: #1d1d1d;
  text-shadow: none;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

a.animated-link:hover,
a.animated-link:focus {
  outline: none;
  text-decoration: none;
  color: #1d1d1d;
}

#resume > a.animated-link::before,
#resume > a.animated-link::after {
  font-size: 1em;
  color: #1d1d1d;
}

#resume > a:hover,
#resume > a:focus {
  color: #1d1d1d;
}

a.animated-link::before,
a.animated-link::after {
  font-size: 2.4em;
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

a.animated-link::before {
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

a.animated-link::after {
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

a.animated-link:hover::before,
a.animated-link:hover::after,
a.animated-link:focus::before,
a.animated-link:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

a.animated-underline {
  position: relative;
  color: #1d1d1d;  
  font-family: Niveau-Light, sans-serif;
  font-weight: 600;  
  text-decoration: none;
}

a.animated-underline:hover {
  color: #1d1d1d;
}

a.animated-underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1d1d1d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.animated-underline:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}