<div class="social-links">

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank">
            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}    
    
    {% if site.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/users/{{ site.stackoverflow }}" href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank">
            <svg class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></svg>
        </a>
    {% endif %}

    {% if site.quora %}
        <a class="link" data-title="quora.com/profile/{{ site.quora }}" href="https://www.quora.com/profile/{{ site.quora }}" target="_blank">
            <svg class="icon icon-quora"><use xlink:href="#icon-quora"></use></svg>
        </a>
    {% endif %}

    {% if site.reddit %}
        <a class="link" data-title="reddit.com/user/{{ site.reddit }}" href="https://www.reddit.com/user/{{ site.reddit }}" target="_blank">
            <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
        </a>
    {% endif %}

    {% if site.medium %}
        <a class="link" data-title="medium.com/@{{ site.medium }}" href="https://medium.com/@{{ site.medium }}" target="_blank">
            <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
        </a>
    {% endif %}

    {% if site.vimeo %}
        <a class="link" data-title="vimeo.com/{{ site.vimeo }}" href="https://vimeo.com/{{ site.vimeo }}" target="_blank">
            <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>
        </a>
    {% endif %}

</div>
